* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.container-width {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}

.row-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.row-link .cell {
    flex-grow: 1;
}

#body-link {
    padding-top: 25px;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(to top, #8E0D18 0%, #CC0033);
    padding-bottom: 50px;
}

#profile-row {
    display: flex;
    justify-content: space-around;
}

#user-handle {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
}

#user-name {
    margin-bottom: 2.5px;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -.4px;
    line-height: 1.5;
}

#profile-image {
    margin-top: 30px;
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 50px 50px 50px 50px;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
}

.cell {
    min-height: 75px;
    flex-grow: 1;
}

#footer-outer {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(to top, black 0%, white 100%);
}

#footer-inner {
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#000000 0%, #000000 100%);
}

#footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    text-align: center;
    font-size: small;
    color: white;
}

#links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#links-list > .cell {
    width: 100%;
}

.link-card {
    min-width: 300px;
    max-width: calc(100% - 66.66%);
    margin: auto;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(#313338 0%, #313338 100%);
    border-radius: 30px;
    margin-bottom: 25px;
    border: 2px solid #1e1f22;
    box-shadow: #1e1f22 8px 8px 0px 0px;
}

.link-icon-holder {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 50px;
    max-width: 50px;
}

.link-title-wrapper {
    min-height: 50px;
    display: flex;
    justify-content: center;
    transform: translateX(-20px);
    align-items: center;
}

.link-title {
    text-align: center;
    font-size: 18px;
    color: white;
}

.link-icon-container {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 50px;
    max-width: 50px;
}

.link-text-wrapper {
    min-height: 50px;
    display: flex;
    justify-content: center;
    transform: translateX(-20px);
    align-items: center;
}

.link-text {
    text-align: center;
    font-size: 18px;
    color: white;
}

@media (max-width:768px) {
    .row {
        flex-wrap: wrap;
    }
}